#outer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inner {
    background-color: rgb(0, 0, 0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28vh;
    height: 40vh;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 50px -10px rgba(50, 50, 73, 0.5);
}
